.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: rgb(10, 9, 19);
    line-height: 40px;
    font-size: 20px;
}
.header a {
    text-decoration: none;
    color: wheat;
    margin-left: 25px;
    padding: 6px;
}
.header a:hover{
    text-decoration: none;
    background-color: gray;
    color: black;
}